@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    
    .nav-link {
      @apply text-primary-800 p-5 font-semibold transition duration-200 ease-in-out
      hover:bg-primary-800 hover:bg-opacity-10 hover:border-primary-800 hover:border-b-2
      dark:hover:bg-white dark:hover:bg-opacity-10 dark:hover:border-white dark:hover:border-b-2 dark:text-white
    }
    
    .active-nav-item {
      @apply border-b-2 bg-opacity-20 bg-primary-800 border-primary-800
      dark:border-secondary-500 dark:text-white dark:bg-white dark:bg-opacity-20
    }

    .btn-primary {
        @apply font-semibold mx-2 bg-primary-500 text-white rounded-md px-6 py-2.5 hover:bg-opacity-90 transition-all focus:bg-opacity-80
    }
    
    .btn-secondary {
        @apply font-semibold mx-2 bg-secondary-500 text-white rounded-md px-6 py-2.5 hover:bg-opacity-90 transition-all focus:bg-opacity-80
    }
    
    .btn-ghost {
        @apply font-semibold mx-2 bg-gray-50 text-gray-900 rounded-md px-6 py-2.5 hover:bg-opacity-90 transition-all focus:bg-opacity-80
    }
    
    .btn-outlined-primary{
        @apply font-semibold mx-2 bg-transparent border-solid border border-primary-500 text-primary-500 rounded-md px-6 py-2 
        hover:bg-opacity-90 transition-all focus:bg-opacity-80
    }
    
    .btn-outlined-secondary{
        @apply font-semibold mx-2 bg-transparent border border-solid border-secondary-500 text-secondary-500 rounded-md px-6 py-2 
        hover:bg-opacity-90 transition-all focus:bg-opacity-80
    }
    
    .btn-outlined-ghost{
        @apply font-semibold mx-2 bg-transparent border border-gray-900 text-gray-900 rounded-md px-6 py-2 
        hover:bg-opacity-90 transition-all focus:bg-opacity-80
    }
    
    .btn-success{
        @apply font-semibold mx-2 bg-success-500 text-white rounded-md px-6 py-2.5 hover:bg-opacity-90 transition-all focus:bg-opacity-80
    }
    
    .btn-info{
        @apply font-semibold mx-2 bg-info-500 text-white rounded-md px-6 py-2.5 hover:bg-opacity-90 transition-all focus:bg-opacity-80
    }
    
    .btn-warning{
        @apply font-semibold mx-2 bg-warning-500 text-white rounded-md px-6 py-2.5 hover:bg-opacity-90 transition-all focus:bg-opacity-80
    }
    
    .btn-danger{
        @apply font-semibold mx-2 bg-danger-500 text-white rounded-md px-6 py-2.5 hover:bg-opacity-90 transition-all focus:bg-opacity-80
    }

    .icon {
        @apply text-primary-900 hover:text-primary-300 dark:text-white dark:hover:text-secondary-500 mx-2 
    }

    .navbar {
        @apply sticky top-0 z-10 bg-white backdrop-filter backdrop-blur-lg bg-opacity-20 border-b border-primary-800 border-opacity-20
        dark:bg-primary-900 dark:border-secondary-500 dark:border-opacity-20 dark:backdrop-blur-lg dark:bg-opacity-20
    }

    .label-input{
        @apply block mb-2 text-base text-primary-800 dark:text-white font-semibold
    }

    .input{
        @apply block w-full px-5 py-3 mt-2 text-primary-800 placeholder-primary-800 placeholder-opacity-40 bg-white border border-primary-500 rounded-md 
        focus:border-primary-800 focus:ring-primary-800 focus:outline-none focus:ring focus:ring-opacity-80
        dark:border-secondary-500 dark:border-opacity-20
        dark:focus:border-secondary-500 dark:focus:ring-secondary-500 dark:focus:outline-none dark:focus:ring dark:focus:ring-opacity-80
    }

}

