@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
    
    .nav-link {
      @apply text-primary-800 p-5 font-semibold transition duration-200 ease-in-out
      hover:bg-primary-800 hover:bg-opacity-10 hover:border-primary-800 hover:border-b-2
      dark:hover:bg-white dark:hover:bg-opacity-10 dark:hover:border-white dark:hover:border-b-2 dark:text-white
    }
    
    .active-nav-item {
      @apply border-b-2 bg-opacity-20 bg-primary-800 border-primary-800
      dark:border-secondary-500 dark:text-white dark:bg-white dark:bg-opacity-20
    }

    .btn-primary {
        @apply font-semibold mx-2 bg-primary-500 text-white rounded-md px-6 py-2.5 hover:bg-opacity-90 transition-all focus:bg-opacity-80
    }
    
    .btn-secondary {
        @apply font-semibold mx-2 bg-secondary-500 text-white rounded-md px-6 py-2.5 hover:bg-opacity-90 transition-all focus:bg-opacity-80
    }
    
    .btn-ghost {
        @apply font-semibold mx-2 bg-gray-50 text-gray-900 rounded-md px-6 py-2.5 hover:bg-opacity-90 transition-all focus:bg-opacity-80
    }
    
    .btn-outlined-primary{
        @apply font-semibold mx-2 bg-transparent border-solid border border-primary-500 text-primary-500 rounded-md px-6 py-2 hover:bg-opacity-90 transition-all focus:bg-opacity-80
    }
    
    .btn-outlined-secondary{
        @apply font-semibold mx-2 bg-transparent border border-solid border-secondary-500 text-secondary-500 rounded-md px-6 py-2 hover:bg-opacity-90 transition-all focus:bg-opacity-80
    }
    
    .btn-outlined-ghost{
        @apply font-semibold mx-2 bg-transparent border border-gray-900 text-gray-900 rounded-md px-6 py-2 hover:bg-opacity-90 transition-all focus:bg-opacity-80
    }
    
    .btn-success{
        @apply font-semibold mx-2 bg-success-500 text-white rounded-md px-6 py-2.5 hover:bg-opacity-90 transition-all focus:bg-opacity-80
    }
    
    .btn-info{
        @apply font-semibold mx-2 bg-info-500 text-white rounded-md px-6 py-2.5 hover:bg-opacity-90 transition-all focus:bg-opacity-80
    }
    
    .btn-warning{
        @apply font-semibold mx-2 bg-warning-500 text-white rounded-md px-6 py-2.5 hover:bg-opacity-90 transition-all focus:bg-opacity-80
    }
    
    .btn-danger{
        @apply font-semibold mx-2 bg-danger-500 text-white rounded-md px-6 py-2.5 hover:bg-opacity-90 transition-all focus:bg-opacity-80
    }

}

